[experiment]
randomSeed=RND_SEED
numberOfExperiments=NUM_EXP
outputTxtFile=OUT_FILE
outputPdfFile=none
cluster=true

[Features]
numFeatures=NUM_FEATURES
featuresAccuracies=[ACCURACIES ]
# possible allocationTypes are [ 'random' , 'split' , 'on-noise', 'on-noise-quad', 'incremental-pre', 'incremental-post' ]
allocationType=ALLOC_TYPE

[CollectiveDecision]
neighbourSize=NEIGHS
maxIterations=ITERS

[Network]
number_of_nodes=NUM_AGENTS
# possible netTypes are [ 'full' , 'erdos-renyi', 'barabasi-albert', 'space' ]
netType=space
number_of_edges=3
link_probability=0.15
area_size=1
communication_radius=0.3
