[experiment]
randomSeed=260852
numberOfExperiments=1
outputTxtFile=../../data/out.txt
outputPdfFile=../../data/output
cluster=false

[Features]
numFeatures=3
featuresAccuracies=[0.8069, 0.7454, 0.5361]
#featuresAccuracies=[0.69, 0.6, 0.99, 0.8, 0.6, 0.96]
# possible allocationTypes are [ 'random' , 'split' , 'on-noise' , 'on-noise-odds', 'on-noise-llr', 'incremental-pre', 'incremental-post' ]
allocationType=incremental-post

[CollectiveDecision]
neighbourSize=0
maxIterations=20

[Network]
number_of_nodes=30
# possible netTypes are [ 'full' , 'erdos-renyi', 'barabasi-albert', 'space' ]
netType=space
number_of_edges=3
link_probability=0.15
area_size=1
communication_radius=0.3
